extends layout 

block content 
  h3 Are you sure you want to delete this folder?
  hr
  h2 #{folder.name}
  form(method="POST")
    input(type="hidden" name="folder_id" value=folder.id) 
    button.btn.btn-danger.mb-3(type="submit") Delete 
  a(href=`/`).btn.btn-primary Cancel
