extends layout

block sign
    .d-flex.align-items-center
      a.btn.btn-primary.me-3.py-0(href="/signup") Sign up
      a.btn.btn-primary.py-0(href="/login") Login

block content
    h2 Welcome to Ann Drive!
    h4 Upload, organize and share your files...
    p If you're new here, &nbsp
      span
        a(href="/signup") Sign up! 
    p If you're a regular, &nbsp 
      span 
        a(href="/login") Log in!
    
   
        
    
    