body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

form,
.alert {
  width: 100%;
  max-width: 500px;
}

.icon-ctnr {
  height: 80px;
  width: 80px;
}

.icon-ctnr:hover {
  scale: 105%;
}

.folder-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80px;
}

/*.folder-text:hover {
  overflow: visible;
  position: absolute;
  background-color: rgb(235, 235, 235);
  max-width: 20em;
}
